body {
  background: linear-gradient(145deg, #FFFFFF, #C0D3BB);
  background-size: cover;
  background-attachment: fixed;
}

header {
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

header .logo {
    vertical-align: middle;
  }

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px; /* réduire la valeur de padding */
}

header ul {
    display:flex;
    justify-content:center;
    align-items:center;
}

header ul li {
    list-style:none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding:6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #C0D3BB;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 3px solid green;
    margin-bottom: 20px;
  }
  
  .section-left {
    flex-direction: row;
  }
  
  .section-left img {
    margin-right: 180px;
    width: 300px;
    border: solid;
    border-width: 1em;
  }
  
  .section-left div {
    max-width: 50%;
  }
  
  .section-right {
    flex-direction: row-reverse;
  }
  
  .section-right img {
    margin-left: 180px;
    width: 300px;
    border: solid ;
    border-width: 1em;
  }
  
  .section-right div {
    max-width: 50%;
    text-align: right;
  }

  /** CSS TEMPORAIRE**/
  
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
 .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
  }

  .item p {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
      text-align: center;
      font-size: 1.2em;
      margin-top: 10px;
  }
  
  .item-left {
    max-width: 45%;
    margin-right: 60%;
    text-align: right;
  }
  
  .item-right {
    max-width: 45%;
    margin-left: 60%;
    text-align: left;
  }
  
  .item img {
      width: 400px;
      height: 400px;
      object-fit: cover;
      object-position: center;
  }

  .container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }
  
  .container img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .container h2 {
    margin-bottom: 5px;
    font-size: 1.5em;
  }
  
  .container p {
    font-size: 1.2em;
    line-height: 1.4em;
  }
  

 
  
  
  
  